*{
	margin:0px;
	padding: 0px;
	font-family: Trebuchet MS;
}
:root{
	--text-color:#4e4e4e;
}
body{
	background: #f7f7f7;
}
.container{
	max-width: 1280px;
	margin:0px auto;
}
.clearfix::after{
	clear: both;
	content: '';
	display: table;
}
#header-container{
	background-color: #e4e4e4;
}
#header-sub-container{
	padding: 25px 0px;
}
#logo{
	float: left;
	width: 60%;
}
#navigation{
	float: right;
	width: 40%;
	margin-top: 7px;
}
#navigation ul li{
	float: left;
	margin-right: 10px;
	list-style-type: none;
}
#navigation ul li a{
	text-decoration: none;
	/*color: #4e4e4e;*/
	color: var(--text-color);
	font-weight: 600;
}
/*pseudo clasess*/
#navigation ul li a:hover{
	color: #1abb9c;
}
#banner-container img{
	width: 100%;
}
#service-container{
	margin-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 30px;
	border-bottom: 2px solid #dcdcdc;
}
.service-item{
	float: left;
	width: 22%;
	text-align: center;
	margin-right: 38px;
	color: var(--text-color);
}
.service-item img{
	margin-bottom: 20px;
}
.service-item h3{
	margin-bottom: 10px;
}
#project-container h2{
	color: var(--text-color);
	text-transform: uppercase;
}
#project-container{
	padding-bottom: 40px;
}
#project-sub-container{
	margin-top: 20px;
}
#project-sub-container .project-items{
	float: left;
	width: 30%;
	margin-right: 42px;
}
#project-sub-container .project-items h2{
	font-size: 18px;
	margin-top: 10px;
}
#project-sub-container .project-items h5{
	font-size: 14px;
	color: #d0d0d0;
	margin:10px 0px; 
}
#project-sub-container .project-items p{
	
}
#testimonial-container{
	background: #efefef;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}
#testimonial-container img{
	margin-bottom: 20px;
}
#testimonial-container p{
	color: #a1a1a1;
}
#footer{
	background: #1e1e1e;
	color: #cacaca;
	padding-top: 60px;
	padding-bottom: 60px;
}
#footer h4{
	color: #6c6c6c;
	font-weight: 900;
    font-size: 22px;
}
#footer-item-container{
	padding-bottom: 20px;
	border-bottom: 2px solid #363636;
	margin-bottom: 20px;
}
.footer-items{
	width: 23%;
	float: left;
	margin-right: 25px;
}
#footer-item-second p{
	padding-left: 20px;
	box-sizing: border-box;
	position: relative;
}
#footer-item-second p::before{
	content: "";
	height: 15px;
	width: 15px;
	position: absolute;
	left: -8px;
	background-image: url('./../images/tweet.png');
	background-repeat: no-repeat;
	top: 5px;
}